.menueBtn {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    scale: 1 1;
    font-size: 50px;
    -unity-text-align: middle-center;
    width: 50%;
    height: 15%;
    -unity-font-style: bold;
    color: rgb(0, 130, 212);
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgb(0, 130, 212);
    border-right-color: rgb(0, 130, 212);
    border-top-color: rgb(0, 130, 212);
    border-bottom-color: rgb(0, 130, 212);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -unity-background-scale-mode: scale-to-fit;
    align-items: stretch;
}

.menueBtn:hover {
    scale: 1.1 1.2;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    border-left-color: rgb(0, 255, 140);
    border-right-color: rgb(0, 255, 140);
    border-top-color: rgb(0, 255, 140);
    border-bottom-color: rgb(0, 255, 140);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: rgb(0, 255, 140);
}

.txtInput {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(0, 0, 0);
    align-self: auto;
    flex-wrap: nowrap;
    -unity-text-outline-color: rgb(0, 0, 0);
}

.txtInput #unity-text-input {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    -unity-background-scale-mode: scale-to-fit;
}

.txtInput #unity-text-input:hover {
    border-color: rgb(255, 255, 255);
    -unity-background-scale-mode: scale-to-fit;
}

.txtInput #unity-text-input > .unity-text-element--inner-input-field-component {
}

.heroSlot {
    align-items: center;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    width: 20%;
    height: 80%;
    margin-top: 20px;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-left: 60px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.slotBtn:hover {
    color: rgb(0, 255, 140);
}

.slotBtn {
    color: rgb(0, 130, 212);
}
